<!doctype html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1">
  <title>Meals I Can Make</title>
  <link rel="stylesheet" href="/global.css">
  <script type="text/javascript" src="global.js" defer></script>

  <div class="menu_icon">
    <a href="#home" id="menu_link"></a>
  </div>

  <h1>Meals I Can Make</h1>
  <hr>
</head>
<body>
  <%= yield %>
</body>
</html>
