html {
  box-sizing: border-box;
    background: #B7CC72;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav button {
  width: 100%;
  background-color: #AD8A37;
  font-size: 16pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: bold;
  border: solid #260710;
  border-radius: 5pt;
  cursor: pointer;
}

nav button:hover {
  background: tan
}

nav button:active {
  color: white
}

hr {
  border: solid #2F2B08;
  margin: 1pt;
}

h1 {
  font-size: 24pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5pt
}

h2 {
  font-size: 20pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: bold;
  text-align: left;
}

h3 {
  font-size: 16pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-weight: bold;
  text-align: left;
}

p {
  font-size: 12pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

.button_links_sidebar {
  text-decoration: none;
  color: black;
}

.button_link {
  text-decoration: none;
  color: beige;
}

li {
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

li a {
  color: #7A1F04;
}

a:hover {
  cursor: pointer;
}

a:active {
  color: #AD8A37;
}

form p {
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

form input {
  border: #4A0112 solid;
  border-radius: 5pt;
  background-color: beige;
  width: 200pt;
  height: 20pt;
  font-size: 14pt;
}

form label {
  font-size: 14pt;
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  width: 80%;
  display: block;
  margin: auto;
}

label input {
  width: 20pt;
}

form label:hover {
  font-weight: bold;
}

.submit {
  border: #4A0112 solid;
  border-radius: 30pt;
  width: auto;
  height: 25pt;
  background-color: #4A0112;
  color: beige;
  font-weight: bold;
  font-size: 14pt;
  display: block;
  margin: auto;
  text-align: center;
  margin: 10px;
}

.submit:hover {
  cursor: pointer;
  background-color: tan
}

.submit:active {
  color: black
}

form select {
  border: solid #4A0112;
  border-radius: 5pt;
  background-color: beige;
  font-size: 12pt;
}

.error {
  color: crimson;
  font-style: italic;
}

form ul {
  list-style-type: none;
}

form textarea {
  border: #4A0112 solid;
  border-radius: 5pt;
  background-color: beige;
  font-size: 14pt;
  width: 100%
}

p a {
  color: #7A1F04;
}

#submit_new_recipe_type {
  display: inline;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.smaller_font {
  font-size: 14px;
}

@media (min-width: 500px) {
  #home {
    float: left;
    width: 25%;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .other_half {
    float: left;
    width: 75%;
  }

  .sub_nav {
    float: left;
    width: 18.75%;
    height: 60px;
  }
}
