<!-- Error Message to display if the new food cannot be added -->
<% if @error %>
  <h3 class="error">Cannot add food: Missing information or duplicate value</h3>
<% end %>

<!-- Add new food item -->
<body>
  <h2>Add a New Food</h2>
  <h3>Enter the following information to add food to the database:</h3>
  <form action="/save_new_food">
    <p>
      Name of the new food item:
    </p>
    <input type="text" name="foods[name]" placeholder="Name of Food">
    <p>
      Food category of the new item:
    <select name="foods[category_id]">
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    </p>
    <p>
      <input type="submit" class="submit">
    </p>
  </form>
</body>
