<!-- Error Message to display if the new food cannot be added -->
<% if @error %>
  <h3>Cannot add food: Missing information</h3>
<% end %>

<!-- Add new food item -->
<head>
  <h1><center>
    Add a New Food
  </center></h1>
</head>
<body>
  <h2>Enter the following information to add food to the database:</h2>
  <form action="/save_new_food">
    <p>
      Name of the new food item:
    </p>
    <input type="text" name="foods[name]" placeholder="Name of Food">
    <p>
      Food category of the new item:
    <select name="foods[category_id]">
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
