<head>
  <center>
    <h1>You've successfully added <%= params["foods"]["name"] %> to the food inventory!</h1>
  </center>
</head>
<footer>
  <center>
    <p>
      <button><a href="/view_all_food">Return to View All Food</a></button>
    </p>
    <button><a href="/home">Return Home</a></button>
  </center>
</footer>
