<body>

  <div id="home">
    <nav>
      <button><a href="/home" class="button_links_sidebar">Home</a></button>
      <button><a href="/view_all_food" class="button_links_sidebar">View All Food</a></button>
      <button><a href="/select_food" class="button_links_sidebar">Select the Food You Have</a></button>
      <button><a href="/all_recipes" class="button_links_sidebar">View All Recipes</a></button>
      <button><a href="/view_recipe_types" class="button_links_sidebar">View Recipe Types</a></button>
      <button><a href="/all_categories" class="button_links_sidebar">View Food Categories</a></button>
    </nav>
    <div style="clear: both">
    </div>
  </div>

  <div class="other_half">
    <h2>You've successfully added <%= params["foods"]["name"] %> to the food inventory!</h2>
    <div style="clear: both">
    </div>
  </div>

</body>
