<!-- View all food items -->
<head>
  <h1><center>
    View All Food
  </center></h1>
</head>
<body>
  <ul>
    <% Food.all.each do |food| %>
      <li>
        <b><%= food.id %></b> - <i><%= food.name %></i>, <b>Food Group</b>:  <%= food.category %>
      </li>
    <% end %>
  </ul>
  <p>
    <a href="/add_food">Add new food</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
