<head>
  <h1><center>Meals I Can Make</center></h1>
</head>
<body>
  <ul>
    <li>
      <a href="/view_all_food">View All Food</a>
    </li>
    <li>
      <a href="/select_food">Select the Food You Have</a>
    </li>
    <li>
      <a href="/all_categories">View Food Categories</a>
    </li>
  </ul>
</body>
