<body>
  <nav>
    <button><a href="/view_recipe_types">Return to View All Recipe Types</a></button>
  </nav>
  <h2>You've successfully added <%= params["recipetype"]["name"] %> to the food inventory!</h2>
</body>
