<head>
  <center>
    <h1>You've successfully added <%= params["recipetype"]["name"] %> to the food inventory!</h1>
  </center>
</head>
<footer>
  <center>
    <p>
      <button><a href="/view_recipe_types">Return to View All Recipe Types</a></button>
    </p>
    <button><a href="/home">Return Home</a></button>
  </center>
</footer>
