<!-- View all recipe types -->
<body>
  <nav>
    <button><a href="/add_recipe_type">Add new recipe type</a></button>
  </nav>
  <h2>Recipe Types</h2>
  <ul>
    <% RecipeType.all.each do |type| %>
      <li>
        <i><%= type.name %></i>
      </li>
    <% end %>
  </ul>
</body>
