<!-- View all recipes -->
<body>

  <div id="home">
    <nav>
      <button><a href="/home" class="button_links_sidebar">Home</a></button>
      <button><a href="/view_all_food" class="button_links_sidebar">View All Food</a></button>
      <button><a href="/select_food" class="button_links_sidebar">Select the Food You Have</a></button>
      <button><a href="/all_recipes" class="button_links_sidebar">View All Recipes</a></button>
      <button><a href="/view_recipe_types" class="button_links_sidebar">View Recipe Types</a></button>
      <button><a href="/all_categories" class="button_links_sidebar">View Food Categories</a></button>
    </nav>
  </div>

  <div>
    <nav>
      <button class="sub_nav"><a href="/recipes_by_type" class="button_link smaller_font">View by Type</a></button>
      <button class="sub_nav"><a href="/recipes_by_time" class="button_link smaller_font">View by Time</a></button>
      <button class="sub_nav"><a href="/add_recipe" class="button_link smaller_font">Add new recipe</a></button>
      <button class="sub_nav"><a href="/edit_recipe" class="button_link smaller_font">Edit a recipe</a></button>
    </nav>
  </div>

  <div class="other_half">
    <h2>Recipes</h2>
    <ul>
      <% Recipe.all.each do |recipe| %>
        <li>
          <a href="/all_recipes/<%= recipe.id %>"><i><%= recipe.name %></i></a>, <%= recipe.recipe_type_id %>, <b>Time to Make</b>: <%= recipe.time_to_make %>
        </li>
      <% end %>
    </ul>
    <div style="clear: both">
    </div>
  </div>

</body>
