<!-- View all recipes -->
<head>
  <h1><center>
    Choose a Recipe to Edit
  </center></h1>
</head>
<body>
  <ul>
    <% Recipe.all.each do |recipe| %>
      <li>
        <a href="/edit_recipe/<%= recipe.id %>"><i><%= recipe.name %></i></a>, <%= recipe.recipe_type_id %>, <b>Time to Make</b>: <%= recipe.time_to_make %>
      </li>
    <% end %>
  </ul>
  <p>
    <a href="/all_recipes">Return to View All Recipes</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
