<!-- View recipe information -->
<head>
  <h1><center>
    <%= @recipe.name %>
  </center></h1>
</head>
<body>
  <p>
    <h3>Food:</h3>
  </p>
  <ul>
      <% @recipe.foods.each do |food| %>
      <li>
        <%= food["name"] %>
      </li>
      <% end  %>
    </li>
  </ul>
  <p>
    <h3>Instructions:</h3>
  </p>
  <%= @recipe.information %>
  <p>
    <a href="/all_recipes">Return to View All Recipes</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
