<!-- View all recipes -->
<head>
  <h1><center>
    <%= @recipe.name %>
  </center></h1>
</head>
<body>
  <p>
    <h3>Food:</h3>
  </p>
  
  <p>
    <h3>Instructions:</h3>
  </p>
  <%= @recipe.information %>
  <p>
    <a href="/all_recipes">Return to View All Recipes</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
