<!-- View Recipes by Type -->
<body>
  <nav>
    <button><a href="/all_recipes">Return to All Recipes</a></button>
  </nav>
  <h2>Recipes</h2>
  <ul>
    <% RecipeType.all.each do |type| %>
      <h3><%= type.name %></h3>
      <% type.recipes.each do |recipe| %>
          <li>
            <a href="/all_recipes/<%= recipe.id %>"><i><%= recipe.name %></i></a>, <b>Time to Make</b>: <%= recipe.time_to_make %>
          </li>
        <% end %>
    <% end %>
  </ul>
</body>
