<!-- View all recipes -->
<head>
  <h1><center>
    <%= @recipe.name %>
  </center></h1>
</head>
<body>
  <%= @recipe.information %>
  <p>
    <a href="/recipes_by_type">View recipes by type</a>
  </p>
  <p>
    <a href="/recipes_by_time">View recipes by time to make</a>
  </p>
  <p>
    <a href="/add_recipe">Add new recipe</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
