<!-- View recipe information -->
<body>
  <nav>
    <a href="/all_recipes">Return to View All Recipes</a>
  </nav>
  <h2><%= @recipe.name %></h2>
  <p>
    <h3>Food:</h3>
  </p>
  <ul>
      <% @recipe.foods.each do |food| %>
      <li>
        <%= food["name"] %>
      </li>
      <% end  %>
    </li>
  </ul>
  <p>
    <h3>Instructions:</h3>
  </p>
  <%= @recipe.information %>
</body>
