<!-- View Recipes by Time -->
<head>
  <h1><center>
    Recipes
  </center></h1>
</head>
<body>
  <h3>Select the amount of time you'd like to spend cooking</h3>
  <form action="/display_recipes_by_time">
    <select name="recipes[time]">
      <option value="quick">
        Less than 30 minutes
      </option>
      <option value="hour">
        30 min - 1 hour
      </option>
      <option value="long">
        More than an hour
      </option>
    </select>
    <p>
      <input type="submit">
    </p>
  </form>
  <p>
    <a href="/all_recipes">Return to All Recipes</a>
  </p>
</body>
<footer>
  <center>
    <button><a href="/home">Home</a></button>
  </center>
</footer>
