<body>
  <nav>
    <button><a href="/all_recipes">Return to View All Recipes</a></button>
  </nav>
  <h2>You've successfully added <%= params["recipe"]["name"] %> to the recipe inventory!</h2>
</body>
