<head>
  <center>
    <h1>You've successfully added <%= params["recipe"]["name"] %> to the recipe inventory!</h1>
  </center>
</head>
<footer>
  <center>
    <p>
      <button><a href="/all_recipes">Return to View All Recipes</a></button>
    </p>
    <button><a href="/home">Return Home</a></button>
  </center>
</footer>
